body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    text-align:center;
}

nav{
    background:#333;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
}

section{
    margin:30px;
}

img{
    width:300px;
    border-radius:10px;
}

input{
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    background:blue;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:darkblue;
}